/*TOP*/

p#ans {
	text-align: center;
}

p#qes {
	text-align: center;
}


#topp{

	position:fixed;
	background-color: #ffffff;
	color: #000000;
	z-index: 1;
	width: 100%;
	padding-left: 0;
	margin-top: 10px;
}

div#bott1{
	z-index: -1;
	width: 100%;
	margin-top: 10px;
	height: 400px;
	
}


a.header-button-left.ui-btn.ui-corner-all {
	float: left;
}

a.header-button-right.ui-btn.ui-corner-all {
	float: right;
}



/*Bottom*/


div#bott {
	z-index: -1;
	width: 100%;
	margin-top: 220px;
}


a.footer-button-left.ui-btn.ui-corner-all {
	margin: 5px;
	float: left;
}

a.footer-button-right.ui-btn.ui-corner-all {
	float: right;
	margin-right: 5px;
}

p#logo {
	text-align: center;
	display: block;
}

