/*TOP*/

p#ans {
	text-align: center;
}

p#qes {
	text-align: center;
}

p#cat {
	text-align: center;
}


#topp{
	background-color: #ffffff;
	color: #000000;
	width: 100%;
	padding-left: 0;
}


a.header-button-left.ui-btn.ui-corner-all {
	float: left;
}

a.header-button-right.ui-btn.ui-corner-all {
	float: right;
}



/*Bottom*/


div#bott {
	width: 100%;
	padding: 1px;
}

td{
	font-family: arial;
	color: #333;
	padding: 1;
	width: 455px;
	height: 50px;
	text-align: center;
	border: 2px solid #000000;
	background-color: #eee;
}

.bingohead{
	border: 10px solid #c2324c;
}

td{
	cursor: pointer;
}

#free {
	background-color: #3abd12;
	color: #ffffff;
	cursor: default;
}

#wildspot{
	background-color: #ebecd6;
}

a.footer-button-left.ui-btn.ui-corner-all {
	margin: 5px;
	float: left;
}

a.footer-button-right.ui-btn.ui-corner-all {
	float: right;
	margin-right: 5px;
}

p#logo {
	text-align: center;
	display: block;
}

